
body {
    font-family: 'Opens Sans', sans-serif;
    // font-size: 62.5%;

    .card {
        // width: 18rem;

        &-img-top {
            // width: 100%;
        }

        .card-body {
            .card-title {
                font-size: 1.6rem;
            }
    
            .card-text {
                font-size: 1rem;
            }
        }
    }
}


