
body {
    font-family: 'Opens Sans', sans-serif;
    // font-size: 62.5%;
    background-color: #f3f3f3;
    // background: url('../images/spiration-light.png');

    h1 {
        font-size: 6rem;
    }
}
