
body {
    font-family: 'Opens Sans', sans-serif;
    // font-size: 62.5%;

    .card {
        // width: 18rem;

        &-img-top {
            // width: 100%;
        }

        .card-body {
            .card-title {
                font-size: 1.6rem;
            }
    
            .card-text {
                font-size: 1rem;
            }
        }
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    .col,
    [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


