.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    margin-top: 30px;
    z-index: 1000;

    .navbar-brand img {
        width: 100px;
    }

    .navbar-nav {
        margin-right: 0;

        .nav-item.active .nav-link { color: #e4bb23; }

        .nav-item .nav-link {
            font-size: 1rem;
            color: #fff;
        }
    }
}




