
.load-container {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a .load {
        all: unset;
        margin: 0 auto;
        background-color: #e4bb23;
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 50%;

        .fa-ellipsis-h {
            color: #f3f3f3;
        }
    }
}

.pagination {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .active .page-link {
        background-color: #e4bb23;
        color: #fff;
        border: 1px solid #e4bb23;
        
    }

    .page-link:active { outline: none; }
    .page-link:focus { outline: none; }
}