
.panel-group {
    // background-color: red;
    width: 100%;
    // background-color: red;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 426px);
    grid-auto-rows: 426px;

    grid-gap: 7px;
    margin: 0 auto;

    .panel {
        position: relative;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 3px 3px #acacac;

        .panel-img {
            width: 280px;
            height: 426px;
        }
        
        .panel-body {
            opacity: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 60%, rgba(0, 0, 0, .0));
            height: 150px;
            width: 100%;
            padding: 25px;

            position: absolute;
            bottom: 0;
            transition: all 0.5s ease-in-out;

            .panel-title {
                font-size: .9rem;
                text-transform: uppercase;
                font-weight: 900;
                font-family: 'Lato', sans-serif;
                letter-spacing: 2px;
                color: #e1e1e1;
            }

            .panel-genres {
                word-wrap: break-word;
                font-size: .8rem;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                letter-spacing: 2px;
                margin-top: 10px;
                margin-bottom: 20px;
                color: #e4bb23;
            }

            .panel-rating {
                font-size: 1rem;
                color: #bbb;

                i {
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                }
            }
        }

        &:hover .panel-body { 
            opacity: 1;
        }
    }
}